<nav>
    <div class="container nav-wrapper">
        <a href="#!" class="brand-logo">Logo</a>
        <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
        <ul class="right hide-on-med-and-down">
            <li><a href="{% url 'home' %}">Home</a></li>
            {% if user.is_authenticated %}
            <li><a href="#">Hello, {{user.username}}</a></li>
            <li><a href="#" class="btn btn-danger">Logout</a></li>
            {% else %}
            <li><a href="#">Login</a></li>
            {% endif %}
        </ul>
    </div>
</nav>

<ul class="sidenav" id="mobile-demo">
    <li><a href="{% url 'home' %}">Home</a></li>
    {% if user.is_authenticated %}
    <li><a href="#">Hello, {{user.username}}</a></li>
    <li><a href="#" class="btn btn-danger">Logout</a></li>
    {% else %}
    <li><a href="#">Login</a></li>
    {% endif %}
</ul>