{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Craigslist Clone App</title>
    <!--BootStrap-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <!--Materialize-->
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">        
</head>

<body>
    <div class="navbar-fixed">
        <nav class="navbar navbar-expand-lg navbar-light bg-dark">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
            <a class="navbar-brand" href="#">CraigsList Clone</a>
            <form class="form-inline my-2 my-lg-0">
                <div class="class form-inline my-2 my-lg-0">
                    <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                </div>
            </form>
            </div>
        </nav>
    </div>  
    <div class="container">
        
        <h2 style="text-align:center">What do you want to search for on Craigslist?</h2>
        <div class="row">
            <div class="col s4">
                <div class="center">
                    <i class="large material-icons" style="color: palevioletred">flash_on</i>
                    <p>Fast Craigslist web scrapper</p>
                    <p class="light center">Scrap away right here with a beautiful GUI</p>
                </div>
            </div>
            <div class="col s4">
                <div class="center">
                    <i class="large material-icons" style="color: pink">sentiment_very_satisfied</i>
                    <p>A much sexier front-end to Craigslist</p>
                    <p class="light center">We built this with love</p>
                </div>
            </div>
            <div class="col s4">
                <div class="center">
                    <i class="large material-icons" style="color:hotpink">chrome_reader_mode</i>
                    <p>Filter your searches</p>
                    <p class="light center">We built in functionalities to filter based on pricing</p>
                </div>
            </div>
        </div>

        <h3>NEW SEARCH</h3>
        <form action="{% url 'newSearch' %}" method="post">
            {% csrf_token %}
            <div class="input-field col s4">
                <i class="material-icons prefix">mode_edit</i>
                <input  type="text" name="search" placeholder="Search">
            </div>
            <button class="btn waves-effect waves-light" type="submit" name="action">Submit
                <i class="material-icons right">send</i>
            </button>
            
        </form>
        {% block content %}

        {% endblock content %}

    </div>
<!-- Optional JavaScript BootStrap-->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>