{% extends 'base.html' %}
<style>
    .card {
        height: 400px;
        overflow: hidden;
    }

    .card-image {
        height: 250px;
        overflow: hidden;
    }
</style>
{% block content %}

<h2 style="text-align: center;">Results of - {{search|title}}</h2>
<div class="row">
    {% for post in final_postings %}
    <div class="col s4">
        <div class="card">
            <div class="card-image waves-effect waves-block waves-light">
                <a href="{{post.1}}"><img class="activator" src="{{post.3}}"></a>
            </div>
            <div class="card-content">
                <span class="card-title activator grey-text text-darken-4">{{post.0}}<i
                        class="material-icons right">more_vert</i></span>
            </div>
            <div class="card-reveal">
                <span class="card-title grey-text text-darken-4">{{post.0}}<i
                        class="material-icons right">close</i></span>
                <p> <a href="{{post.1}}">View Listing Price: {{post.2}} </a> </p>
            </div>
        </div>
    </div>
    {% endfor %}
</div>

{% endblock%}




<!--Comments
| title - starts a word in a sentence with CAPS (more like normalization)

-->