{% extends 'base.html' %}
{% block content %}

<h2 style="text-align: center;">Results of - {{search|title}}</h2>
<div class="row">
    {% for post in final_postings %}
    <div class="col sm-6">
        <div class="card" style="height: 400px; width: 400px; overflow: hidden;">
            <div class="card-image" style="height: 250px; overflow: hidden;">
                <a href="{{post.1}}"><img src="{{post.3}}"></a>
                <span class="card-title">{{post.0}}</span>
            </div>
            <div class="card-content">
                <p>View Listing Price: {{post.2}}</p>
            </div>
            <div class="card-action">
                <a href="{{post.1}}">More Info</a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock%}




<!--Comments
| title - starts a word in a sentence with CAPS (more like normalization)

-->