# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../../../../:\Users\John Solomon\Dropbox\My PC (DESKTOP-NQP98ER)\Desktop\Programming Tutorials\Tutorials\Python\Practice Python\Clever Programmer\Craiglist Clone App\craigslistClone\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
